*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.conatiner{
    width: 100%;
    margin: 0 auto;
}
section{
    border-bottom: 10px solid #222222;
}